@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: Quicksand;
    background-color:#8dd814;
}
canvas{
    border:none;
    border-radius:20px;
    background:#eee;
    display: block;
    margin: 1% auto;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.664),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}
.heading{
    color:#FC6601;
    margin: 0.5% auto;
    text-align: center;
}